    <section id="accomodations" class="container content-section">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
            	<% provide(:title, 'Home') %>
                <h1>Accomodations</h1>
                <h3>HYATT PLACE BOULDER/PEARL STREET</h3>
                <p>2280 Junction Pl Boulder, Colorado, USA, 80301 <br>
                    (303) 442 0160
</p>
                <p>We have a room block at the Hyatt Place Pearl Street. Please call  to book a room and make sure to mention the Berke-Buescher courtesy rate. The block rates are:<br>
$159/night plus tax for a Standard King Room
<br>$179/night for a Standard Double Queen Room</p>

<p>This hotel is in walking distance to The Studio Boulder, which is where our welcome dinner on Friday night will be held. There will also be a shuttle to and from this location on Saturday! To get all around Boulder from here we would recommend renting a car, renting a bike, or taking the bus (which is super easy and nice). <br>
 *These block rates will be available until 8-12-2015 or until the hotel books up completely.
<br> <a target="_blank" href="http://boulderpearlstreet.place.hyatt.com/en/hotel/home.html?corp_id=G-BERK">CLICK HERE TO BOOK WITH BLOCK RATES</a></p>
</div>
<div class="col-lg-10 col-lg-offset-1">
<h3>ST. JULIEN</h3>
<p>900 Walnut St, Boulder, CO 80302 <br>(720) 406-9696</p>
                <p>This hotel is super swanky and people love it. It is located in the perfect location in Downtown Boulder right next to some of our favorite places. If you want to make your weekend fancy or just like nice digs, we would suggest staying here!  It is approximately $350/night. We will also have a shuttle to and from our ceremony/reception from this location!</p>
            </div>
<div class="col-lg-10 col-lg-offset-1">
<h3>Other Hotels in the Area</h3>
<p>
-The Boulderado: This is a historic hotel in Downtown Boulder that is really awesome. It is my favorite! It is around $250-$350/night depending on what type of deal you can get.
 <br>-Hotels in Longmont (15 min. from Boulder) will be significantly cheaper.
<br>-We also love VBRO and AirB&B for private residences to rent for the week/weekend!
<br>-The Millennium Harvest House in Boulder.</p>
</div>
        </div>
    </section>