    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
            	<% provide(:title, 'Home') %>
                <h1>Friday</h1>
                <h3>Welcome Dinner</h3>
                <p>The Studio Boulder
                3550 Frontier Avenue, Unit A2
                Boulder, Colorado 80301</p>
                <p>We will be hosting a welcome dinner Friday night open to all of our friends and family. It will be open house style so feel free to stop in anytime between 6-10 pm and to stay for as long as you like. There will be food trucks and craft beers galore! The Hyatt Place Pearl Street is across the street and is in walking distance if you prefer to not drive!</p>
                <p></p>
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                <% provide(:title, 'Home') %>
                <h1>Saturday</h1>
                <h3>Ceremony/Reception</h3>
                <p>Pastures of Plenty
                    4039 Ogallala Rd.
                    Longmont, CO 80503</p>
                <p>We will be having our ceremony and reception all at one place! We are getting married at Pastures of Plenty, a working farm that grows vegetables and flowers. Our wedding will be all outdoors (there will be a tent or two in case or rain) so please plan accordingly!
                <br>** Parking is limited - Please see the <a class="page-scroll" href="#download">Guest Information</a> section parking and shuttle info **
                </p>
            </div>
            <div class="col-lg-10 col-lg-offset-1">
            </div>

        </div>
    </section>