    <section id="guest" class="container content-section">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
            	<% provide(:title, 'Home') %>
                <h2>Guest Information</h2>
                <h3>Attire</h3>
                <p>The wedding dress code is semi-formal attire. We want you to look amazing, but this is no black tie event either! Make sure to bring a sweater/jacket just in case as it can get chilly once the sun goes down here. The ground can be uneven in spots so please keep this in mind when you are choosing footwear.</p>
                <p></p>
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                <h3>Parking/Shuttles</h3>
                <p>There is only parking spaces for around 50 cars at Pastures of Plenty. Please carpool if you plan to drive! </p>
                <p>We will have a shuttle and we HIGHLY recommend that you use it! The shuttle will pick up and drop off at both the Hyatt Place Pearl Street and the St. Julien (Downtown Boulder). There is free parking in the parking garage next to the St. Julien if you would like to catch the shuttle from here! More information about shuttle times will be available closer to the wedding. </p>

            </div>
            <div class="col-lg-10 col-lg-offset-1">
            </div>

        </div>
    </section>