    <section id="registry" class="container content-section">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
            	<% provide(:title, 'Home') %>
                <h1>Registry</h1>

                <p>Your presence at our wedding is present enough for us. We realize that a lot of you have spent a small fortune in order to get to Colorado for our wedding. Please do not feel obligated to spend more money to shower us in gifts!</p>
</div>
<div class="col-lg-10 col-lg-offset-1">

<p>As you may know, we are not big “stuff people”, but we value experiences and traveling. We are blessed to have a home full of everything we need! We have decided to forgo a traditional registry and instead have an “alternative registry” for our honeymoon in Croatia!
</p>
            </div>

        </div>
    </section>